*{
	padding: 0;
	margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*css memu*/

.menu{
	background-color:#4d375d;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	display: flow-root;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px: 


}
.menu ul li a{
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 20px;
}
.menu ul li a:hover{
	color: black;
}
/*container*/
.container{
	width: 1140px;
	margin: auto;
}
.inner-container{
	width: 80%;
	margin: auto;
}
.news{
	background: #f6f5f5;
	text-align: center;
	padding: 80px 0px;
}
.inner-container h1{
	color: #121013;
    font-family: "Roboto",Sans-serif;
    font: 40px;
    margin-bottom: 18px;
}
.inner-container p{
	color: #121013;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 28px;
    font-size: 15px;
    line-height: 25px;
}
.inner-container  .in{
	padding: 15px;
	width: 35%;
	background-color: #f6f5f5;
	border-style: 1px;

}
.inner-container button{
	color: white;
	padding: 17px ;
	background-color: black;
	border-style: none;
}
.inner-container button:hover{
	background-color: green;
}
/*table number 2*/
.let-talk{
	padding: 80px 0px;
    background-color: #EEE;
}
.container{
	width: 1140px;
	margin: auto;
}
.bg-container{
	width: 73%;
	margin: auto;
}
.bg-container h1{
	color: #2F323A;
    font-family: "Roboto",Sans-serif;
    font-size: 40px;
    margin-bottom: 16px;
    text-align: center;
}
.bg-container p{
	font-family: 'Poppins', sans-serif;
    color: #6F6F6F;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 29px;
    text-align: center;
}
.bg-container .gap{
	margin-bottom: 20px;
}
.bg-container .from-control{
	padding: 16px;
    margin: 5px;
    width: 44%;
    background: transparent;
    border: 1px solid black;
    border: 1px solid black;
}
.bg-container .message{
	background: transparent;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 9px;
    margin-left: 5px;
    height: 350px;
    width: 795px;
}
.bg-container .fonts{
	padding: 16px;
    background: black;
    color: white;
    border: 1px solid black;
    width: 15%;
    margin-left: 5px;
}

/*table number 2 end*/



/*futer start*/
.futter{
	width: 100%;
	background: black;
	padding: 80px 0;

}
.item-1 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-1 ul li{
	list-style: none;

}
.item-1 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.item-2 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-2 ul li{
	list-style: none;

}
.item-2 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-3 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-3 ul li{
	list-style: none;

}
.item-3 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-4 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-4 ul li{
	list-style: none;

}
.item-4 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-5 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-5 ul li{
	list-style: none;

}
.item-5 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-6 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-6 ul li{
	list-style: none;

}
.item-6 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
/*futter end*/
.buttom{
	margin: 22px 0;

}
.buttom ul li{
	list-style: none;
	display: inline-block;
	border-right: 2px solid white;
	padding-right: 8px;
	margin-right: 6px;

}
.buttom ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.last{
	border-right: 0px !important;
}
.buttom p{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;

}
.nevbar{
	width: 100%;
	float: left;
}
.logo{
	width: 20%;
	float: left;
	margin-top: -10px;

}
.me{
	width: 80%
	float:left;
	line-height: 40px;
	text-align: center;
	margin-bottom: 5px;
}







   




