*{
	padding: 0;
	margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*css memu*/

.menu{
	background-color:#4d375d;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px: 


}
.menu ul li a{
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 20px;
}
.menu ul li a:hover{
	color: black;
}
/*container*/
.container{
	width: 1140px;
	margin: auto;
}
.inner-container{
	width: 80%;
	margin: auto;
}
.news{
	background: #f6f5f5;
	text-align: center;
	padding: 80px 0px;
}
.inner-container h1{
	color: #121013;
    font-family: "Roboto",Sans-serif;
    font: 40px;
    margin-bottom: 18px;
}
.inner-container p{
	color: #121013;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 28px;
    font-size: 15px;
    line-height: 25px;
}
.inner-container  .in{
	padding: 15px;
	width: 35%;
	background-color: #f6f5f5;
	border-style: 1px;

}
.inner-container button{
	color: white;
	padding: 15px ;
	background-color: black;
	border-style: none;
}
.inner-container button:hover{
	background-color: green;
}
/*table number 2*/


.table-1{
	text-align: center;
	background-color: #f6f5f5;
}
.table-1 h1{
	color: #121013;
    font-family: "Roboto",Sans-serif;
    font: 40px;
    margin-bottom: 18px;

}
.table-1 p{
	color: #121013;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 28px;
    font-size: 15px;
    line-height: 25px;

}
.table-1 .ta{
	text-align: center;
	background-color:#f6f5f5; 
	padding: 15px;
	width: 32%;
	border-style: 1px;
	margin-bottom:15px;

}
.table-2{
	text-align: center;
	background-color: #f6f5f5;
	
}
.table-2 textarea{
	background-color: #f6f5f5;
	width: 73%;
	border-style: 1px;
	margin-right: -30px;
	margin-left: -30px;
	align-items: center;
}
.button{
	text-align: center;
	background-color: #f6f5f5; 
}
.button .bu{
	color: white;
	padding: 20px 10px;
	background-color: black;
	border: none;
	margin-bottom: 10px;
	
}
.button .bu:hover{
	background-color: blue;
	border-radius: 10                    px;
}

/*futer start*/
.futter{
	width: 100%;
	background: black;
	padding: 80px 0;

}
.item-1 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-1 ul li{
	list-style: none;

}
.item-1 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.item-2 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-2 ul li{
	list-style: none;

}
.item-2 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-3 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-3 ul li{
	list-style: none;

}
.item-3 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-4 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-4 ul li{
	list-style: none;

}
.item-4 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-5 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-5 ul li{
	list-style: none;

}
.item-5 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.item-6 h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;

}
.item-6 ul li{
	list-style: none;

}
.item-6 ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
/*futter end*/
.buttom{
	margin: 22px 0;

}
.buttom ul li{
	list-style: none;
	display: inline-block;
	border-right: 2px solid white;
	padding-right: 8px;
	margin-right: 6px;

}
.buttom ul li a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;
}
.last{
	border-right: 0px !important;
}
.buttom p{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 25px;

}







   




